:root {
    --main-color: hsl(0, 0%, 98%);
    --white-and-darkblue: hsl(0, 0%, 100%);
    --font-color: hsl(200, 15%, 8%);
    --place-holder-color: rgba(78, 78, 78, 0.514);
    --shadow-color: #e5e5e554;
}

::placeholder {
    color: var(--place-holder-color);
}