html {
    max-width: 90vw;
    padding: 0 5vw;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.country-information h2, p {
    display: inline;
}