*{
    padding: 0;
}

html {
    max-width: 90vw;
    padding: 0 5vw;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    background: hsl(0, 0%, 98%);
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

#search-country {
    height: 50px;
    border: none;
    box-shadow: 0px 0px 7px 6px #e5e5e554;
    border-radius: 6px;
}

#filter-region {
    height: 50px;
    border: none;
    box-shadow: 0px 0px 7px 6px #e5e5e554;
    border-radius: 6px;
}

.country-box {
    background: hsl(0, 0%, 100%);
    box-shadow: 0px 0px 7px 6px #e5e5e554;
    border-radius: 6px;
    list-style: none;
    width: 320px;
    cursor: pointer;
}

.country-box:hover {
    scale: 1.05;
}

.country-information h2, p {
    display: inline;
}

.country-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}


.flag img {
    width: 320px;
    height: 192px;
    border-radius: 6px 6px 0 0;
}