*{
    padding: 0;
}

html {
    max-width: 90vw;
    padding: 0 5vw;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    background: hsl(0, 0%, 98%);
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.country-box {
    list-style: none;
}

.country-information h2, p {
    display: inline;
}

.country-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}

.country-box {
    background: hsl(0, 0%, 100%);
    box-shadow: 0px 0px 7px 1px #e5e5e5;
}

.flag img {
    width: 320px;
    height: 192px;
}