.container-country {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.flag-info {
    width: 50%;
}

.flag-info img {
    width: 100%;
}

.list-information {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.list-information h4 {
    display: inline-block;
    margin: 0;
}

.borders-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
}

.borders-list a {
    text-decoration: none;
    color: black;
    padding: 5px 14px;
}

.borders-list h2 {
    display: inline-block;
    margin: 0;
}