.back-home {
    width: 8%;
    height: 35px;
}

.back-home a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: -webkit-fill-available;
    height: -moz-available;
}
.back-home img {
    width: 30px;
}

.back-home p {
    margin: 0;
    color: black;
}

.container-country {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.flag-info {
    width: 50%;
}

.flag-info img {
    height: 350px;
    width: 540px;
}

.information-country {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.list-information {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.list-information h4 {
    display: inline-block;
    margin: 0;
}

.borders-list {
    display: flex;
    width: 100%;
    gap: 10px;
    flex-direction: row;
    align-items: center;

}

.borders-list a {
    text-decoration: none;
    color: black;
    padding: 5px 14px;
    box-shadow: 0px 0px 5px 0px lightgrey;
}

.borders-list h4 {
    display: inline-block;
    margin: 0;
    width: 22%;
    padding-top: 4px;
}

.borders {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 77%;
    gap: 10px;
}