.back-home {
    margin-bottom: 40px;
    width: 8%;
    height: 35px;
    border-radius: 6px;
    border-style: none;
    box-shadow: 0px 0px 7px 6px var(--shadow-color);
    background: var(--white-and-darkblue);
}

.back-home a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: -webkit-fill-available;
    height: -moz-available;
}
.back-home img {
    width: 18px;
    filter: var(--icon-filter);
}

.back-home p {
    margin: 0;
    color: var(--font-color);;
    font-weight: 600;
}

.container-country {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.flag-info {
    width: 50%;
}

.flag-info img {
    width: 100%;
}

.information-country {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.information-country h1, h4, p {
    color: var(--font-color);
}

.information-country h4 {
    font-weight: 600;
}

.list-information {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.list-information h4 {
    display: inline-block;
    margin: 0;
}

.borders-list {
    display: flex;
    width: 100%;
    gap: 10px;
    flex-direction: row;
    align-items: center;

}

.borders-list a {
    text-decoration: none;
    color: black;
    padding: 5px 14px;
    background: var(--white-and-darkblue);
    box-shadow: 0px 0px 5px 0px var(--shadow-color);
    border-radius: 3px;
}

.borders-list h4 {
    display: inline-block;
    margin: 0;
    width: 22%;
    padding-top: 4px;
}

.borders {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 77%;
    gap: 10px;
}